.dropdown-menu {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(-110px, -34.4375px);
}
#tabela a{
  text-decoration: none;
  
}
.darkmode--activated #container {
  color: #fff;
}
.darkmode--activated #container th{
  color: #fff;
}
.darkmode--activated #container tr{
  color: rgb(214, 214, 214);
}
